<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
	<link href="../../Content/Styles.css" type="text/css" rel="stylesheet"/>
</head>
<body>
	@RenderBody()
	@RenderSection("Scripts", required: false)
</body>
</html>
